
    <div class="container-fluid text-center text-md-center divCatchPhrases">
        <div class="row">
            <div class="col">
                <ul class="list-unstyled">
                    <li class="CatchHeaders">ACCESS</li>
                    <li class="CatchPhrases">
                        Frictionless
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col">
                <ul class="list-unstyled">
                    <li class="CatchHeaders">NAVIGATION</li>
                    <li class="CatchPhrases">
                        Engage
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col">
                <ul class="list-unstyled">
                    <li class="CatchHeaders">DISCOVER</li>
                    <li class="CatchPhrases">
                        Differentiate
                    </li>

                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col">
                <ul class="list-unstyled">
                    <li class="CatchHeaders">COMMUNICATE</li>
                    <li class="CatchPhrases">
                        Secure & Private
                    </li>

                </ul>
            </div>

        </div>
    </div>
