<div class="card-img-overlay ">

    <p class="TagLine1a">
            Customize Your Mobile Health Platform Today!<br />
         @*<span class="TagLine1b">With NO One In The Middle!</span>*@
        </p>
</div>

@*<img class="card-img-top claimprofileimg" src="~/images/banner-sick-child-light-1.jpg" style="opacity:0.4;" />*@
@*<div class="card-img-overlay text-center ">
        <h1>Welcome to Appy Health</h1>

    </div>*@

@*<div class="card-img-overlay ">
        <p class="Millions-of-patients">Millions of patients are searching for Medical Services & Practices like yours!</p>
    </div>*@

<div class="container ClaimProfile-box auto-height">
    <div>
        <span class="claimprof-text1">START ENGAGING</span>
    </div>
    <div>
        <span class="claimprof-text2">on your mobile health platform today.</span>
    </div>
    <div class="signup-box">
        <form method="post">
            <a asp-area="" asp-controller="Session" asp-action="SignIn" class="btn  SignUpButton"><b>Sign up</b></a>
        </form>
    </div>
    <div>
        <span class="claimprof-text1">FREE</span>
    </div>

</div>
