<div class="row">
  <div class="col">
    <button type="button" class="btn-blue" (click)="openDialog()">Add Medical Staff Member</button>
  </div>
  <div class="col text-right">
    <button type="button" class="btn-back mr-4" (click)="back()">BACK</button>
    <button type="button" class="btn-main" (click)="continue()">CONTINUE</button>
  </div>
</div>

<hr />

<div class="row mb-4" *ngFor="let d of practitionerHealthSystems; index as i">
  <div class="col">
    <h5>{{d.practitioner.FullName}}</h5>
    <div class="subtitle" *ngIf="d.practitioner.NPI">NPI: {{d.practitioner.NPI}}</div>
  </div>
  <div class="col">
    <div *ngFor="let h of d.healthSystems">
      {{h.HealthSystemLocation[0].Location.Address1}}
      {{h.HealthSystemLocation[0].Location.Address2}}
      {{h.HealthSystemLocation[0].Location.City}}, {{h.HealthSystemLocation[0].Location.State}} {{h.HealthSystemLocation[0].Location.ZipCode}}
    </div>
  </div>
  <div class="col text-right">
    <div class="dropdown">
      <i class="fa fa-pencil-alt fa-border" data-toggle="dropdown"></i>
      <div class="dropdown-menu">
        <div class="dropdown-item" (click)="edit(d)">Edit</div>
        <div class="dropdown-item" (click)="remove(d,i)">Delete</div>
      </div>
    </div>
  </div>
</div>
