@page
@model AppyHealthWeb.Pages.Physician.ClaimProfileRegisterModel
@{
    ViewData["Title"] = "ClaimProfileRegister";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ClaimProfileRegister</h1>
<p>@ViewData["Payload"]</p>

