.card-component {
  width: 340px;
  height: 245px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  margin: 10px 5px;
  overflow: hidden;
}

.card-component h3 {
  font-size: 18px;
}

.card-component h4 {
  font-size: 14px;
  color: grey;
}

.card-badge {
  width: 60px;
  height: 30px;
  background-color: green;
  color: white;
  text-align: center;
}

.card-avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.card-info-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex: 1;
}

.card-info-col {
  margin-left: 20px;
  flex: 1;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #ffd535;
  color: #253c80;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 10px 10px 10px;
}

.distance-info {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.distance-info span {
  margin-left: 5px;
}
