
<div class="landing">
    <div class="landing__menu flex">
        <div>
            <img src="/assets/images/Footer Logo.png" class="logo" />
        </div>
    </div>
</div>
<h2>Join Appy.Health</h2>
 <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
        <label for="card-info">Credit or Debit Card</label>
        <div id="card-info" #cardInfo></div>
        <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
    <button type="submit">Pay $149</button>
</form>