.refer-patient-page {
  display: flex;

  .table-with-filter {
    width: 66%;
    height: fit-content;
  }

  .referral-box {
    width: 60%;
    height: fit-content;
  }
}

.referral-box {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  position: relative;

  > h3 {
    padding: 15px;
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 0.44px;
  }

  .patient-info {
    padding: 15px;

    h3 {
      font-size: 13px;
      color: #C6C6C6;
      letter-spacing: 0.65px;
      font-weight: 500;
    }

    p {
      opacity: 0.6;
      font-size: 11px;
      color: #9B9B9B;
      letter-spacing: 0.34px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    > input {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .selected-practitioners {
    padding: 15px;
    padding-bottom: 55px;

    > h3 {
      font-size: 14px;
      color: #253A80;
      letter-spacing: 0.44px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    > p {
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      line-height: 22px;
      margin-top: 3px;

      .specialty {
        opacity: 0.6;
        font-size: 10px;
        color: #9B9B9B;
      }

      > .material-icons {
        font-size: 20px;
        float: right;
        color: #e8483c;
        cursor: pointer;
      }
    }

    > button.button--yellow {
      width: calc(100% - 30px);
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
  }
}

.patient-card {
  border: 1px solid #F3F3F4;
  border-radius: 4px;
  display: flex;
  //height: 90px;
  .patient-card__picture {
    width: 76px;
    background-color: #FFC70A;
    opacity: .25;
  }

  .patient-card__info {
    padding: 15px;

    > h1 {
      font-size: 14px;
      color: #06033D;
      letter-spacing: 0.56px;
      font-weight: 500;
    }

    > p {
      font-size: 11px;
      color: #9B9B9B;
      letter-spacing: 0.34px;
      line-height: 16px;
      margin-top: 5px;

      span {
        color: #000037;
      }
    }
  }
}
