@page
@{
    ViewData["Title"] = "Contact";
}
<body>
    <div class="card landingimage border-0">
        <img class="card-img-top claimprofileimg" src="~/images/blank-composition-desk-317355.jpg">
        <div class="card-img-overlay ">
            <p class="TagLine1">
                Appy.Health is the #1 Patient Recommended <span class="TagLine2">MobileHealth Platform</span>
            </p>

        </div>

        <div class="card-img-overlay container ContactUs-box">
            <div>
                <span class="claimprof-text1">CONTACT US</span>
            </div>

            <div class="signup-box">
                To contact the AppyHealth support team please email us at  <a href="mailto:support@appy.health">Support@Appy.Health</a>
            </div>

            <div>
                <span class="claimprof-text2">We are here to help!</span>
            </div>

        </div>
        


    </div>
   
   
</body>

