@page

    <body>
        <div class="container">

            <h2>
                How do I sign in?
                
            </h2>
            <p>
                Simply go to the APP store on your mobile device, search for AppyHealth, download the app as you would normally. Once the AppyHealth is available on your device complete the registration process and start searching for your professional immediately.

            </p>
            <h2>
                My account is locked. How do I unlock it?
                
            </h2>
            <p>
                If this happens to you, please reach out to the AppyHealth support team for immediate assistance at <a href="mailto:support@appy.health">Support@Appy.Health</a> . 
                We will be happy to help you reset your account.

            </p>
            <h2>
                What if I need to change my name on my account?
                
            </h2>
            <p>
                To make any changes to the name on your account, please reach out to the AppyHealth support team directly at <a href="mailto:support@appy.health">Support@Appy.Health</a> . 
                We'll be happy to update it right away!

            </p>
            <h2>
                I forgot my password - how can I reset it?
                
            </h2>
            <p>
                To reset your password, simply select the “Reset Password” button on the account registration screen.
                Still having trouble? Reach out to the AppyHealth support team directly at <a href="mailto:support@appy.health">Support@Appy.Health</a>. 
                We are available to help!

            </p>
            <h2>
                What if I have an emergency and need to schedule an appointment?
                
            </h2>
            <p>
                AppyHealth is greatly concerned about the welfare of all patients, however AppyHealth is a tool that should be used to locate professionals and schedule appointments for non-urgent, routine visits. If you are experiencing an emergency, we encourage you to call 911 or go to your nearest emergency room.

            </p>
            <h2>
                How do I know which Professional to choose?
               
            </h2>
            <p>
                AppyHealth has the most powerful search tool available in today’s industry, it empowers patients to make their own decisions about the professionals they would like to see. 
                The AppyHealth search engine allows patients to begin their search with as simple as a few words, it even has a search filter that is capable of adapting to you as you as you modify your searches. 
                When selecting a professional you can research his or her background, education, reviews from other patients, and more.

            </p>
            <h2>
                What if my provider has other locations that are not listed with AppyHealth?
                
            </h2>
            <p>
                We do our best to continue update information for professionals, however professionals expand practices and hours as they grow. 
                If your professional has additional locations that are not listed, please reach out to the AppyHealth support team directly at <a href="mailto:support@appy.health">Support@Appy.Health</a>. 
                We will be happy to quickly add the locations.

            </p>
            <h2>
                Is my insurance card secure with AppyHealth?

            </h2>
            <p>
                Yes, keeping your information secure is a top priority for us. 
                We follow industry best practices when it comes to protecting your health information.
            </p>
            <h2>
                Does AppyHealth require I share a picture of my insurance card?
            </h2>
            <p>
                You are not required to take a picture of your insurance card on AppyHealth. 
                Taking a picture of your health insurance allows you to save time by allowing your benefits to be verified prior to your visit. 
                If you choose to not take a picture of your insurance card, you have the option of manually entering your information through the app.
            </p>
            <h2>
                How do you know what I should expect my benefits to be and how often is the information updated?

            </h2>
            <p>
                When you share either a photo of your insurance card or your member ID, we request information about your plan from an insurance clearinghouse. 
                The clearinghouse works directly with insurance companies to track plan status and benefits. 
                The clearinghouse shares the basic details of your insurance plan with AppyHealth.
            </p>
            <p>
                Benefits are verified once every 30 days. 
                We do our best to provide accurate and up-to-date information, however we understand that insurance plans and situations change, please let us know if you find any discrepancies with your benefit information. 
                We will be happy to review and make corrections immediately.
            </p>
            
           
            
            <h2>
                What happens if AppyHealth cannot verify my insurance based on my member ID. Does this mean there's something wrong with my insurance?

            </h2> 
            <p>
                No, it just means we were not able to get a response back from the insurance clearinghouse. We recommend you check with your insurance company on your plan status.

            </p>
            
            <h2>
            How much will my doctor visit cost?
            </h2> 
            <p>
                That’s a great question to discuss directly with your healthcare provider or insurance company! If you have any questions regarding the cost of your medical care, we encourage you to give them a call.

            </p>
            
            <h2>
                What if my appointment is cancelled or rescheduled by the doctor's office?
            </h2>
            <p>
                Sometimes a doctor has a last-minute emergency. In these rare cases, we’ll notify you via email or text you as soon as possible to let you know about the scheduling change, help you find a new appointment time.
            </p> 
            <h2>How do I make an appointment?</h2>

            <p>
                It’s easy! Just go to the homepage and lookup the professional you would like to schedule an appointment with. 
                We’ll provide a list of different healthcare providers who may meet your needs -- 
                you can even view qualifications, office photographs, and verified reviews from other patients. 
                Just click on the appointment time you’d like and follow the quick prompts to book your appointment in minutes. 
                If the provider you select does not have appointment times available, please contact the AppyHealth support team at <a href="mailto:support@appy.health">Support@Appy.Health</a> for assistance.
            </p>
            <h2>
            How do I cancel or reschedule an appointment?
            </h2>
            <p>
                We encourage patients to honor booked appointments, but we also understand that life happens! 
                Please contact the AppyHealth support team at <a href="mailto:support@appy.health">Support@Appy.Health</a> for assistance.
            </p>
            
            <h2>
                Can I reach out to AppyHealth or my professional to book my appointments over the phone?
            </h2> 
            
            <p>
                Our service is designed so you don’t have to book appointments over the phone! 
                We’re working hard to create a simple healthcare experience at your fingertips, without the hassle of accessing a computer – but if you’re having trouble, 
                please use the messaging tool in the app or email the 
                AppyHealth support team directly at <a href="mailto:support@appy.health">Support@Appy.Health</a>, we be happy to help.
            </p>
            <h2>How do I know that my appointment has really been booked?</h2>
            <p>
                If you’ve received a confirmation stating, “Your appointment is confirmed,” then rest assured – you’re all set! Soon you’ll receive helpful details about your upcoming appointment.
            </p>
            <h2>
                How quickly should I expect to receive a response from AppyHealth?
            </h2>
            <p>
                Our goal is to respond immediately to most questions, however if we have to reach out to a professional, a response could take 24 to 48 hours.
            </p>
            <h2>
                How quickly should I expect to receive a response when I message a professional directly?
            </h2>
            <p>
                AppyHealth encourages professionals to respond to patients within 24 to 48 hours. 
                If you have not received a response from your professional within this timeframe, 
                please reach out to the AppyHealth support team at <a href="mailto:support@appy.health">Support@Appy.Health</a>. 
                We will be happy to reach out to the professional on your behalf.
            </p>
            <h2>Can I use AppyHealth to book appointments with any doctor in the US?</h2>
            <p>
                Absolutely! Please keep in mind, some of these providers may not be partnered with AppyHealth, but we will work with you and reach out the professional on your behalf. 
                Our goal is to make your healthcare experience better by adding more physicians every day. 
                Please reach out to the AppyHealth support at <a href="mailto:support@appy.health">Support@Appy.Health</a> 
                for assistance scheduling appointments with providers who have not yet claimed their profile.
            </p>
            <h2>How does AppyHealth make money?</h2>
            <p>
                Scheduling appointments through AppyHealth is 100 percent free for patients. We want to make it as easy as possible for you to get the care you need. Patients should never have to pay fees. Healthcare providers pay to participate with AppyHealth.
            </p> 
            <p>
                Please note that our services are completely separate from any costs you may have associated with visiting the doctor, such as insurance copays.
            </p>
            <h2>Can I fill out my paperwork online?</h2>

            <p>
                Not at this time, but this is something AppyHealth is working on incorporating in the near future. In the meantime, we will do our best to provide you with information on how to access to the patient portal for the professional you selected.
            </p> 
            <h2>
                How do I see the status of my current appointments and past doctor’s appointments?
            </h2>
            
            <p>
                Sign into the AppyHealth App and select “Appointments Icon” at the bottom of the screen.
                You will see options for “Upcoming Appointments” and “Past Appointments.”
                The Upcoming Appointments will list all appointments requested and/or waiting for confirmation. You will also have the option to add the appointment to your personal calendar directly from AppyHealth, simply click on the button that says, “Add to Calendar.”
            </p>
            <p>
                Still having trouble?
                Reach out to the AppyHealth support team at <a href="mailto:support@appy.health">Support@Appy.Health</a> directly! We are available to help!
            </p>
            <h2>
                How do I review my Check-In information?
            </h2>

            <p>
                This is a very important step, we encourage all patients to use the Check In feature through AppyHealth, it allows your professional and AppyHealth to follow up to make sure you are receiving the healthcare experience expected.  To Check In, simply sign into AppyHealth, locate your current appointment for that day and select the Check In button.
            </p>

        </div>
    </body>
