@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {

}

<script>
    window.location = 'app/home';
</script>

@*<body>
    <div class="card landingimage border-0">

        <img class="card-img-top claimprofileimg" src="~/images/physicianlandingimg.png"
             srcset="~/images/physicianlandingimg@2x.png 2x,
        ~/images/physicianlandingimg@3x.png 3x">

        <partial name="_LandingPageSignup" />

    </div>
     <partial name="_CatchPhrasesPartial" />
</body>*@
