@page

@{
    ViewData["Title"] = "Our Company";
}

    <body>
        <div class="container">

            <h2>
                Product Mission

            </h2>
            <p>
                Appy.Health is a unique mobile platform which allows patients and providers to connect with a single tap. 
                Using the app, patients can find and instantly schedule with local specialists who accept their insurance.

            </p>
        </div>

        <div class="container">

            <h2>
                Economic Mission

            </h2>
            <p>
                With the cost of healthcare rising to almost $11,000 per capita in the U.S. we aim to reduce costs 
                and help patients save money by streamlining the healthcare process while also driving business for providers.
            </p>
        </div>

        <div class="container">

            <h2>
                Social Mission

            </h2>
            <p>
                To improve lives by breaking down the barriers between patients and providers with ultimate aim of 
                increasing access to healthcare for families and communities across the nation.
            </p>
        </div>

    </body>
