<div class="store-area">
  <h1>Get the Appy.Health app.</h1>
  <a href="https://play.google.com/store/apps/details?id=appy.health.mobile&hl=en" target="_blank" title="Download Appy.Health from the Play Store">
    <img src="./assets/images/playstore.png" alt="Download Appy.Health from the Play Store" />
  </a>
  <a href="https://apps.apple.com/us/app/appy-health/id1464947017" target="_blank" title="Download Appy.Health from the App Store">
    <img src="./assets/images/appstore.png" alt="Download Appy.Health from the App Store" />
  </a>
</div>
