.practitioner-details.profile-detail-panel {
  margin-top: 30px;
  font-family: 'Rubik';
}

.practitioner-details.profile-detail-panel .left-panel {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}

.practitioner-details.profile-detail-panel .left-panel .info-panel {
  position: relative;
  min-height: 70px;
}

.practitioner-details.profile-detail-panel .left-panel .info-panel h1 {
  margin-top: 15px;
}

.practitioner-details.profile-detail-panel .left-panel .info-panel h2 {
  margin-top: 10px;
  height: 20px;
}

.practitioner-details.profile-detail-panel .left-panel .info-panel h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #FFD40A;
  letter-spacing: 0.21px;
  font-weight: 500;
}

.practitioner-details.profile-detail-panel .left-panel .info-panel .action-items {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  vertical-align: middle;
  color: #c8c8c8;
}

.practitioner-details.profile-detail-panel .left-panel .action-item {
  font-size: 12px;
  color: #c8c8c8;
}

.practitioner-details.profile-detail-panel .left-panel .action-item i {
  vertical-align: middle;
  font-size: 18px;
  color: #c8c8c8;
}

.practitioner-details.profile-detail-panel .right-panel {
  background-color: white;
  padding: 30px 20px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  position: relative;
}

.practitioner-details.profile-detail-panel .right-panel-plain {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.practitioner-details.profile-detail-panel .right-panel input, .practitioner-details.profile-detail-panel .right-panel textarea, .practitioner-details.profile-detail-panel .right-panel .radio-group, .practitioner-details.profile-detail-panel .right-panel mat-form-field, .practitioner-details.profile-detail-panel .right-panel .button--save, .practitioner-details.profile-detail-panel .right-panel .hidden {
  display: none;
}

.practitioner-details.profile-detail-panel .right-panel input {
  width: 50%;
  padding: 7px;
  font-size: 14px;
}

.practitioner-details.profile-detail-panel .right-panel .radio-group {
  width: 50%;
  text-align: left;
}

.practitioner-details.profile-detail-panel .right-panel .radio-group input {
  padding: 0;
  width: auto;
}

.practitioner-details.profile-detail-panel .right-panel textarea {
  width: 90%;
  height: 200px;
}

.practitioner-details.profile-detail-panel .right-panel.editing input, .practitioner-details.profile-detail-panel .right-panel.editing textarea, .practitioner-details.profile-detail-panel .right-panel.editing .radio-group, .practitioner-details.profile-detail-panel .right-panel.editing mat-form-field, .practitioner-details.profile-detail-panel .right-panel.editing .button--save {
  display: inline-block;
}

.practitioner-details.profile-detail-panel .right-panel.editing p, .practitioner-details.profile-detail-panel .right-panel.editing aside {
  display: none;
}

.practitioner-details.profile-detail-panel .right-panel.editing .hidden {
  display: block;
}

.practitioner-details.profile-detail-panel .right-panel .action-items {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 12px;
  color: #c8c8c8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 120px;
}

.practitioner-details.profile-detail-panel .right-panel .action-items i {
  margin: 3px 5px 6px 5px;
  vertical-align: middle;
}

.practitioner-details.profile-detail-panel .right-panel .action-items i:hover {
  color: #002685;
}

.practitioner-details.profile-detail-panel .right-panel > div {
  margin-bottom: 25px;
}

.practitioner-details.profile-detail-panel .right-panel > div--large {
  margin-left: 200px;
}

.practitioner-details.profile-detail-panel .right-panel label {
  display: block;
  font: 400 14px/24px Poppins;
  color: #0f162d;
}

.practitioner-details.profile-detail-panel .right-panel p {
  font-size: 12px;
  color: #787887;
  letter-spacing: 0.6px;
  line-height: 19px;
}

.practitioner-details.profile-detail-panel .right-panel aside {
  font-size: 12px;
  line-height: 16px;
  color: #0f162d;
}

.practitioner-details.profile-detail-panel .patient-preference h4 {
  color: #FFC70A;
  margin-bottom: 10px;
}

.profile-detail-panel .practice-card {
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  padding: 0;
  background-color: white;
  margin-bottom: 16px;
  position: relative;
}

.profile-detail-panel .practice-card header {
  padding: 13px 24px;
  border-bottom: 1px solid #d8d8d8;
}

.profile-detail-panel .practice-card .number {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #002685;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  margin-right: 16px;
}

.profile-detail-panel .practice-card h1 {
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.7px;
  color: #030120;
  font-weight: 600;
}

.profile-detail-panel .practice-card section {
  padding: 24px;
}

.profile-detail-panel .practice-card section.flex {
  display: flex;
  justify-content: space-between;
}

.profile-detail-panel .practice-card section.flex > * {
  flex: 1;
}

.profile-detail-panel .practice-card section > div {
  margin-bottom: 25px;
}

.profile-detail-panel .practice-card section a {
  color: #002685;
  font-size: 12px;
  text-decoration: underline;
  line-height: 19px;
  letter-spacing: 0.6px;
  font-weight: 500;
  display: inline-block;
}

.profile-detail-panel .practice-card section h2 {
  font-size: 14px;
  line-height: 24px;
  color: #0f162d;
  font-weight: 400;
  margin-bottom: 0;
}

.profile-detail-panel .practice-card section p {
  font-size: 12px;
  line-height: 19px;
  color: #787887;
  letter-spacing: 0.6px;
}

.profile-detail-panel .practice-card.editing input, .profile-detail-panel .practice-card.editing textarea, .profile-detail-panel .practice-card.editing .radio-group {
  display: inline-block;
}

.profile-detail-panel .practice-card.editing p, .profile-detail-panel .practice-card.editing aside {
  display: none;
}

.profile-picture {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
}

.profile-picture #photo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-picture label {
  padding: 10px;
  color: #444;
  text-align: center;
  display: block;
  text-decoration: underline;
  cursor: pointer;
}

.profile-picture span {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: bottom 0.3s ease-in-out;
}

.profile-picture:hover span {
  bottom: 0px;
}

.button--action {
  position: absolute;
  right: 0;
  top: 5px;
}

.button--save {
  display: inline;
  padding-left: 20px;
}

.add-location {
  color: #c8c8c8;
  font-size: 14px;
}

.add-location .material-icons {
  font-size: 18px;
  vertical-align: middle;
}

.add-location:hover {
  color: #002685;
  cursor: pointer;
}

#map {
  width: 100%;
  height: 490px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
